.titre {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    background-color: gray;
    color: white;
    padding: 1rem;
    border: 1px solid gray;
    font-size: 1.2rem;
}

.warning {
    padding: 15px;
    background-color: #fff9c4; /* Couleur jaune clair */
    border: 1px solid #ffee58; /* Bordure jaune */
    border-radius: 5px; /* Coins arrondis */
}


